[global]
user="{{ ulogd2_user }}"
logfile="{{ ulogd2_logfile }}"
loglevel={{ ulogd2_loglevel }}

{% for _plugin in ulogd2_plugins %}
plugin="{{ (ulogd2_lib_dir, _plugin) | path_join }}"
{% endfor %}

stack={{ ulogd2_stack | join(",") }}

{% for key, val in ulogd2_global_options.items() %}
{% if ' ' in val %}
{{ key }}="{{ val }}"
{% else %}
{{ key }}={{ val }}
{% endif %}
{% endfor %}

{% for _section, _options in ulogd2_config.items() %}
[{{ _section }}]
{% for key, val in _options.items() %}
{% if ' ' in val %}
{{ key }}="{{ val }}"
{% else %}
{{ key }}={{ val }}
{% endif %}
{% endfor %}
{% endfor %}